@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

header .logo {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    text-align: right;
    margin:0;
    font-language-override: right;

}

header .top-menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    align-items: flex-start;

